<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Contacto - Barbería ByAlex</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
  <!-- csn icon link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
  <!-- Iniciamos la barra de navegacion-->
  <header>
    <div class="caja">
      <a href="#">
        <img src="../imagenes/logo.png" width="150" height="150" alt="Logo de la Barbería" class="logo">
      </a>
      <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="productos.html">Productos</a></li>
          <li><a id="selected" href="presupuesto.html">Contacto</a></li>
          <li><a href="contacto.html">Ubicación</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="formulario">
    <!--Iniciamos con el formulario-->
    <main class="main-contacto">

      <form id="form" name="form" method="post" action="procesar.php">
        <fieldset class="formularioF">
          <legend class="titulo-form">Datos Personales</legend>
          <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="input-padron" placeholder="Escriba aquí su nombre">
            <small>Error mensaje</small><br>
          </div>
          <div>
            <label for="apellido">Apellidos</label>
            <input type="text" id="apellido" name="apellido" class="input-padron"
              placeholder="Escriba aquí su Apellido">
            <small>Error mensaje</small><br>
          </div>
          <div>
            <label for="telefono">Telefono de contacto</label>
            <input type="tel" id="telefono" name="telefono" class="input-padron"
              placeholder="Escribe aquí tu telefono de contacto">
            <small>Error mensaje</small><br>
          </div>
          <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="input-padron"
              placeholder="Escribe aquí tu dirección de correo electronico">
            <small>Error mensaje</small>
          </div>
        </fieldset>



        <fieldset class="formularioF">
          <legend class="titulo-form">Presupuesto</legend>
          <div>
            <label>Elije un producto</label>
            <label for="categoria"></label>
            <select id="categoria" name="categoria" required>
              <option value="" disabled selected>Seleccione el tipo de corte</option>
              <option value="clasico">Clásico - €20</option>
              <option value="degrado">Degradado - €25</option>
              <option value="skin">Skin Fade - €30</option>
            </select>
            <br><br>
          </div>

          <div class="plazo-precio">
            <label for="plazo">Plazo de entrega (días)</label>
            <input type="number" class="input-text" id="plazo" name="plazo" min="1" required>
            <br><br>


            <label>Opciones extra:</label><br>
            <div>
              <input type="checkbox" id="barba" name="extras" value="barba">
              <label for="barba">Arreglo de barba - €5</label>
            </div>
            <div>
              <input type="checkbox" id="shampoo" name="extras" value="shampoo">
              <label for="shampoo">Lavado con shampoo especial - €3</label>
            </div>
            <div>
              <input type="checkbox" id="masaje" name="extras" value="masaje">
              <label for="masaje">Masaje capilar - €7</label>
            </div>
            <br>


            <label for="precioF">Presupuesto final</label>
            <input type="text" class="input-text" id="precioF" name="precioF" readonly>
          </div>


        </fieldset>




        <fieldset class="formularioF">
          <legend class="titulo-form">Aceptación condiciones y envio de presupuesto </legend>
          <fieldset>
            <legend>¿Cómo le gustaría que lo contactemos?</legend>

            <label for="radio-email"><input type="radio" name="contacto" value="email" id="radio-email">Email</label>

            <label for="radio-telefono"><input type="radio" name="contacto" value="telefono"
                id="radio-telefono">Teléfono</label>

            <label for="radio-whatsapp"><input type="radio" name="contacto" value="whatsapp" id="radio-whatsapp"
                checked>Whatsapp</label>
          </fieldset>

          <fieldset>
            <legend>¿En cual horario prefiere ser atendido?</legend>
            <select>
              <option>Mañana</option>
              <option>Tarde</option>
              <option>Noche</option>
            </select>
          </fieldset>


          <div class="checkbox"><input type="checkbox">
            ¿Le gutaría recibir novedades de la
            Barbería ByAlex?
            <div><input type="checkbox" id="privacidad" name="privacidad">
              <label for="privacidad"> He leído y acepto la
                <u>Politica de privacidad</u> </label><br><br>
              <small>Error mensaje</small>
            </div>
          </div>
          <!-- Agregamos el boton de enviar  -->
          <div>
            <input type="submit" value="Enviar" id="enviar">
            <input type="reset" value="Borrar" id="borrar">
          </div>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>Día</th>
                  <th>Horario</th>
                </tr>
              </thead>
              <div>
                <tr>
                  <td>Lunes</td>
                  <td>08h ~ 20h</td>
                </tr>
                <tr>
                  <td>Miércoles</td>
                  <td>08h ~ 20h</td>
                </tr>
                <tr>
                  <td>Viernes</td>
                  <td>08h ~ 20h</td>
                </tr>
              </div>
          </div>
        </fieldset>
      </form>
    </main>
  </div>
  </tbody>
  </table>
  </main>
  </div>
  <!-- El pie de pagina -->
  <footer class="footer" id="contact">

    <div class="box-container">
      <div class="content">
        <a href="#"><img src="../imagenes/logo.png" alt="Logo" class="logo" width="220" height="280"></a>
        <h1 class="logoName">ByAlex BarberShop</h1>
      </div>
      <div class="box">
        <h3>Quick link</h3>
        <a href="#"> <i class="fas fa-arrow-right"></i>Home</a>
        <a href="#"> <i class="fas fa-arrow-right"></i>Product</a>
        <a href="#"> <i class="fas fa-arrow-right"></i>Blogs</a>
        <a href="#"> <i class="fas fa-arrow-right"></i>Review</a>
        <a href="#"> <i class="fas fa-arrow-right"></i>Contact</a>
      </div>
      <div class="box">
        <h3>Extra link</h3>
        <a href="#"> <i class="fas fa-arrow-right"></i>Home</a>
        <a href="#"> <i class="fas fa-arrow-right"></i>Product</a>
        <a href="#"> <i class="fas fa-arrow-right"></i>Blogs</a>
        <a href="#"> <i class="fas fa-arrow-right"></i>Review</a>
        <a href="#"> <i class="fas fa-arrow-right"></i>Contact</a>
      </div>
      <div class="box">
        <h3>Contact Info</h3>
        <a href="#"> <i class="fas fa-phone"></i>+34 641909677</a>
        <a href="#">
          <i class="fas fa-envelope"></i>ByAlex@gmail.x</a>
        <a href="https://maps.app.goo.gl/Zzqcr2AAdP2UDKh66">
          <i class="fa-regular fa-map"></i>Ubicación:
          Calle de Alonso Cano, 44, 46, 28003 Madrid</a>

      </div>
    </div>
    <div class="share">
      <a href="https://www.facebook.com/Barberiadeivan" class="fab fa-facebook"></a>
      <a href="https://twitter.com/barberiamaso" class="fab fa-twitter"></a>
      <a href="https://www.instagram.com/barberiadeivan/" class="fab fa-instagram"></a>
      <a href="https://www.linkedin.com/company/barberia/" class="fab fa-linkedin"></a>
      <a href="https://www.pinterest.es/negrabarberia/" class="fab fa-pinterest"></a>
    </div>
    <div class="credit">
      © Created by <span>Mr. ByAlex Designer</span> |Todos los derechos reservados!
    </div>
  </footer>
  <script src="../js/validar.js"></script>
</body>

</html>